* {
  padding: 0;
  margin: 0;
}
.mb-3 {
  height:20vw;
  width: 70vw;
  margin: 0 0 10px 0;
  padding: 15px;
}
.btn {
  margin: 5vw;
  padding: 15vw;
  text-align:center;
}
#h1title {
  padding-top: 10px;
}
